<!DOCTYPE html>
<html>
<head>
    <title>Chatbot - Hutech</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div id="chat-container">
        <div id="chat-header">
            <img src="/static/img/logo-hutech.png" alt="Logo" id="chat-logo">
            <h1>Chatbot - Hutech</h1>
        </div>
        <div id="chat-messages">
            <div class="message">
                <p class="bot-message">Welcome to Chatbot Of Student Hutech</p>
            </div>
        </div>
        <div id="chat-input">
            <form id="message-form" method="POST" action="">
                <input type="text" id="user-input" autofocus autocomplete="off" placeholder="Type your message...">
                <button type="submit" id="send-button"><img src="/static/img/send-icon.png" alt="Send"></button>
            </form>
        </div>
    </div>
</body>
</html>